---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Rainforestqa/notification
    body:
      encoding: UTF-8
      string: '{"from":"Rainforest QA","color":"red","message":"Your Rainforest Run
        (\u003ca href=\"http://www.rainforestqa.com/\"\u003eRun #9: rainforest run\u003c/a\u003e)
        is complete!","notify":true,"message_format":"html"}'
    headers:
      Authorization:
      - Bearer SFLaaWu13VxCd7ew4FqNnNJeCcoAZ8MF4kofX3GZ
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/1902326/history/f3848886-3b68-4dd2-bb0f-fbd9aefcda69
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Reset:
      - '1448930503'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Dec 2015 00:36:42 GMT
recorded_with: VCR 2.9.3
