---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Rainforestqa/notification
    body:
      encoding: UTF-8
      string: '{"from":"Rainforest QA","color":"red","message":"Your Rainforest Run
        (\u003ca href=\"http://www.rainforestqa.com/\"\u003eRun #9: rainforest run\u003c/a\u003e)
        is complete!","notify":true,"message_format":"html"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "code": 401,
            "message": "Invalid OAuth session",
            "type": "Unauthorized"
          }
        }
  recorded_at: Tue, 01 Dec 2015 00:36:42 GMT
recorded_with: VCR 2.9.3
