---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Test/notification?auth_token=sjc91Sq15qhcyciVoDo7f7jFrZhj0OizRKl8D6ED
    body:
      encoding: UTF-8
      string: '{"room_id":"Test","from":"Rainforest QA","message":"Rainforest \u003ca
        href=\"http://www.example.com\"\u003eRun #123\u003c/a\u003e is complete!\nResult:
        \u003cb\u003epassed\u003c/b\u003e\n","message_format":"html","color":"green","card":{"id":"5b619537-4abf-40bb-b198-70f89bca9f27","style":"application","icon":{"url":"https://www.rainforestqa.com/images/favicon-f246a1f7.png"},"title":"Your
        Rainforest Run (#123) is complete!","url":"http://www.example.com","attributes":[{"label":"Result","value":{"label":"Passed"}},{"label":"Environment","value":{"label":"QA
        Environment"}},{"label":"Duration","value":{"label":"25 minutes, 3 seconds"}}]},"notify":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/2776193/history/37c6a4aa-5808-4398-8767-1d2d48c47dbe
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1464257375'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 10:06:23 GMT
recorded_with: VCR 2.9.3
