---
http_interactions:
- request:
    method: post
    uri: https://api.hipchat.com/v2/room/Test/notification?auth_token=sjc91Sq15qhcyciVoDo7f7jFrZhj0OizRKl8D6ED
    body:
      encoding: UTF-8
      string: '{"room_id":"Test","from":"Rainforest QA","message":"Rainforest \u003ca
        href=\"http://www.example.com\"\u003eRun #7\u003c/a\u003e has timed out!\nPlease
        contact help@rainforestqa.com if you need help debugging this problem.\n","message_format":"html","card":{"id":"8c9afac8-3908-4613-986c-677be036064e","style":"application","icon":{"url":"https://www.rainforestqa.com/images/favicon-f246a1f7.png"},"title":"Your
        Rainforest Run (#7) has timed out!","url":"http://www.example.com","attributes":[{"label":"Environment","value":{"label":"Foobar"}}]},"notify":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.hipchat.com/v2/room/2776193/history/8938749f-059f-4345-9b7e-572dce0e87a5
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Reset:
      - '1464257375'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 May 2016 10:09:21 GMT
recorded_with: VCR 2.9.3
