---
http_interactions:
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/projects/1141528/stories
    body:
      encoding: UTF-8
      string: '{"name":"Your Rainforest Run (Run #9: rainforest run - http://www.rainforestqa.com/)
        has encountered an error!","description":null,"story_type":"bug","labels":[{"name":"rainforest"}]}'
    headers:
      X-Trackertoken:
      - 8537292c903ca580bcd10b800709a136
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '53'
      Etag:
      - '"f00bb2fa3351eccda06c601a4adf48dc"'
      X-Tracker-Client-Pinger-Interval:
      - '12'
    body:
      encoding: UTF-8
      string: '{"kind":"story","id":109222290,"project_id":1141528,"name":"Your Rainforest
        Run (Run #9: rainforest run - http://www.rainforestqa.com/) has encountered
        an error!","story_type":"bug","current_state":"unscheduled","requested_by_id":1408618,"owner_ids":[],"labels":[{"kind":"label","id":9144470,"project_id":1141528,"name":"rainforest","created_at":"2014-08-07T20:36:35Z","updated_at":"2014-08-07T20:36:35Z"}],"created_at":"2015-12-01T00:36:37Z","updated_at":"2015-12-01T00:36:37Z","url":"https://www.pivotaltracker.com/story/show/109222290"}'
  recorded_at: Tue, 01 Dec 2015 00:36:38 GMT
recorded_with: VCR 2.9.3
