---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Your Rainforest Run (\u003c | Run #7\u003e)
        has timed out due to your webhook failing. If you need a hand debugging it,
        please let us know via email at help@rainforestqa.com.","fallback":"Your Rainforest
        Run (\u003c | Run #7\u003e) has timed out due to your webhook failing. If
        you need a hand debugging it, please let us know via email at help@rainforestqa.com.","color":"danger"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Thu, 10 Sep 2015 23:59:14 GMT
recorded_with: VCR 2.9.3
