---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Your Rainforest Run (\u003chttp://example.com
        | Run #123\u003e) is complete!","color":"danger","fields":[{"title":"Result","value":"Failed","short":true},{"title":"Tests
        Passed: 8 - 80%","value":"\u003chttp://example.com?expandedGroups%5B%5D=passed
        | View all Passed tests\u003e","short":true},{"title":"Duration","value":"25
        minutes, 3 seconds","short":true},{"title":"Tests Failed: 2 - 20%","value":"\u003chttp://example.com?expandedGroups%5B%5D=failed
        | View all Failed tests\u003e","short":true},{"title":"Environment","value":"QA
        Environment","short":true},{"title":"Other Results: 0 - 0%","value":"\u003chttp://example.com?expandedGroups%5B%5D=no_result
        | View all tests with no result\u003e","short":true}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Tue, 01 Dec 2015 00:36:43 GMT
recorded_with: VCR 2.9.3
