---
http_interactions:
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: UTF-8
      string: '{"attachments":[{"text":"Your Rainforest Run (\u003chttp://www.example.com
        | Run #666\u003e) has a failed a test!","color":"danger","fields":[{"title":"Failed
        Test","value":"\u003c | Test #7: \u003e","short":true},{"title":"Environment","value":"QA
        Environment","short":true},{"title":"Browser","value":"Google Chrome","short":true}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ok
  recorded_at: Tue, 01 Dec 2015 00:36:44 GMT
recorded_with: VCR 2.9.3
